In [6]:
"""
Anthony Silva
load db with data
first load data in dataframes
create ORM classes for each table
create a session and add data to tables
"""

'\nAnthony Silva\nload db with data\nfirst load data in dataframes\ncreate ORM classes for each table\ncreate a session and add data to tables\n'

In [1]:
# imports 
import pandas as pd
from sqlalchemy import create_engine, Column, Integer, Float, String, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import Table
from sqlalchemy.orm import relationship
import psycopg2

import os

In [2]:
# load data into dataframes
path = "./data/individual_data/"
files = os.listdir(path)
dfs = []
for file in files:
    dfs.append(pd.DataFrame(pd.read_csv(path + file)))

# visualize data
for df in dfs:
    print(df.head())

         date   open   high     low   close  volume
0  2000-08-30  0.879  0.887  0.8770  0.8850    2886
1  2000-08-31  0.885  0.888  0.8800  0.8850    1095
2  2000-09-01  0.878  0.889  0.8780  0.8890    3449
3  2000-09-05  0.896  0.907  0.8950  0.9060    1397
4  2000-09-06  0.905  0.906  0.8975  0.9015    1195
         date   open   high         low       close  volume
0  2000-01-04  428.0  430.0  421.000000  429.700012     632
1  2000-01-05  428.0  428.0  416.899994  419.899994     571
2  2000-01-06  415.0  417.0  409.000000  412.000000     494
3  2000-01-07  408.0  417.0  408.000000  414.000000     130
4  2000-01-10  414.0  415.0  414.000000  415.000000      24
         date        open   high         low       close  volume
0  2000-01-04  445.000000  446.0  439.000000  441.899994     177
1  2000-01-05  436.000000  439.0  433.000000  438.100006     319
2  2000-01-06  434.500000  437.0  430.200012  435.299988     180
3  2000-01-07  437.000000  444.5  436.500000  443.899994     102
4  2000-01-10  443.899994  456.0  443.899994  451.950012     143
         date   open   high    low  close  volume
0  2000-08-30  4.950  4.950  4.895  4.930    2319
1  2000-08-31  4.920  5.045  4.920  5.003    1612
2  2000-09-01  5.035  5.035  4.985  5.004    1375
3  2000-09-05  4.990  5.005  4.975  4.998     856
4  2000-09-06  5.000  5.000  4.980  4.983     232
         date        open        high         low       close  volume
0  2000-08-30  273.899994  273.899994  273.899994  273.899994       0
1  2000-08-31  274.799988  278.299988  274.799988  278.299988       0
2  2000-09-01  277.000000  277.000000  277.000000  277.000000       0
3  2000-09-05  275.799988  275.799988  275.799988  275.799988       2
4  2000-09-06  274.200012  274.200012  274.200012  274.200012       0

In [3]:
# create ORM classes

Base = declarative_base()

class Gold(Base):
    __tablename__ = 'gold'
    __table_args__ = {'extend_existing': True, 'schema': 'final'}
    date = Column(String, primary_key=True)
    open = Column(Float)
    close = Column(Float)
    high = Column(Float)
    low = Column(Float)
    volume = Column(Integer)

class Silver(Base):
    __tablename__ = 'silver'
    __table_args__ = {'extend_existing': True, 'schema': 'final'}
    date = Column(String, primary_key=True)
    open = Column(Float)
    close = Column(Float)
    high = Column(Float)
    low = Column(Float)
    volume = Column(Integer)

class Platinum(Base):
    __tablename__ = 'platinum'
    __table_args__ = {'extend_existing': True, 'schema': 'final'}
    date = Column(String, primary_key=True)
    open = Column(Float)
    close = Column(Float)
    high = Column(Float)
    low = Column(Float)
    volume = Column(Integer)

class Palladium(Base):
    __tablename__ = 'palladium'
    __table_args__ = {'extend_existing': True, 'schema': 'final'}
    date = Column(String, primary_key=True)
    open = Column(Float)
    close = Column(Float)
    high = Column(Float)
    low = Column(Float)
    volume = Column(Integer)

class Copper(Base):
    __tablename__ = 'copper'
    __table_args__ = {'extend_existing': True, 'schema': 'final'}
    date = Column(String, primary_key=True)
    open = Column(Float)
    close = Column(Float)
    high = Column(Float)
    low = Column(Float)
    volume = Column(Integer)

/tmp/ipykernel_11838/4040052764.py:3: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [4]:
# create engine

# postgres db conn vars
db_host = 'localhost'
db_port = '5432'
db_name = 'postgres'
db_user = 'postgres'
db_pass = 'password'

# create engine
engine = create_engine(f'postgresql://{db_user}:{db_pass}@{db_host}:{db_port}/{db_name}')

# create tables
Base.metadata.create_all(engine)

In [5]:
# load data into tables

# create session
Session = sessionmaker(bind=engine)
session = Session()

# load data into tables

# gold
for index, row in dfs[0].iterrows():
    session.add(Gold(date=row['date'], open=row['open'], close=row['close'], high=row['high'], low=row['low'], volume=row['volume']))

# silver
for index, row in dfs[1].iterrows():
    session.add(Silver(date=row['date'], open=row['open'], close=row['close'], high=row['high'], low=row['low'], volume=row['volume']))

# platinum
for index, row in dfs[2].iterrows():
    session.add(Platinum(date=row['date'], open=row['open'], close=row['close'], high=row['high'], low=row['low'], volume=row['volume']))

# palladium
for index, row in dfs[3].iterrows():
    session.add(Palladium(date=row['date'], open=row['open'], close=row['close'], high=row['high'], low=row['low'], volume=row['volume']))

# copper
for index, row in dfs[4].iterrows():
    session.add(Copper(date=row['date'], open=row['open'], close=row['close'], high=row['high'], low=row['low'], volume=row['volume']))

# commit changes
session.commit()